html, body {
  height: 100%;
}
h1 {
    margin: 0.5em;
}
button {
    height: 3em;
    width: 10em;
    margin: 0.5em;
    margin-bottom: 0em;
}
.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#mocha {
    margin: 1em !important;
}