html, body {
  height: 100%;
}
h1 {
    margin: 0.5em;
}
button {
    -webkit-appearance: none;
    background-color: rgb(223, 223, 223);
    height: 5em;
    min-width: 10em;
    margin: 1em;
}
.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#action {
    margin: 0.5em;
    border-style: solid;
    border-width: 1px;
    background-color: bisque;
}
#action h3 {
    margin: 0.5em;
}
p {
    margin: 0.5em;
}
#action-button {
    display: none;
    margin-left: auto;
    margin-right: 0.5em;
}
#mocha {
    margin: 1em !important;
}